<!DOCTYPE>
<html>
<head>
    <title>Transaction</title>
    <style>
        p{
            font-family: "Arial";
            font-size: 30px;
        }
        .view{
            width:1000px;
            height: 600px;
            margin-left: 250px;
        }
        .view p{
            text-align: center;
        }
        .view button{
            margin-left: 500px;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="view">
    <p><%=content%></p>
    <p class="author"><%=author%></p>
    <a href="quote"><button name="submit" type="submit">Update</button></a>
</div>
</body>
</html>